@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.newsContainer {
  /* background-color: #f4f6fc; */
  background-color: #e6e6e6;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.articlesContainer {
  width: 92%;
  display: grid;
  grid-template-columns: 400px 375px 375px 400px;
  grid-template-rows: 600px 600px 600px;
  gap: 40px;
  grid-template-areas:
  "art0   art1    art1    art2  "
  "art5   art4    art3    art3  "
  "art6   art7    art9    art8  ";
}

/* -------- FILTER NAVBAR STYLING ---------- */

.counterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  font-size: 25px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counterDiv p {
  font-size: 25px;
  margin-left: 10px;
}

.categories {
  
  margin: 30px 0 30px 0;
}

.filterOption {
  cursor: pointer;
  margin: 0 10px;
  font-size: 25px; 
}

.selectedCategory {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0 4px;
}

.countrySelect {
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.countries {
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 10px;
}

.countries label {
  display: block; /* Make the label a block element to control its width */
  margin-bottom: 5px; /* Add some spacing below the label */
}

.filterContainer {
  display: flex;
  justify-content: space-between;
}






