.newsContainer {
  /* background-color: #f4f6fc; */
  background-color: #e6e6e6;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.articlesContainer {
  width: 92%;
  display: grid;
  grid-template-columns: 400px 375px 375px 400px;
  grid-template-rows: 600px 600px 670px;
  gap: 40px;
  grid-template-areas:
  "art0   art1    art1    art2  "
  "art5   art4    art3    art3  "
  "art6   art7    art9    art8  ";
}

