.newsContainer {
  /* background-color: #f4f6fc; */
  background-color: #e6e6e6;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* .articlesContainer {
  width: 92%;
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 1fr));
  grid-template-rows: repeat(6, max(14rem, 1fr));
  gap: 40px;
  grid-template-areas:
    "art0   art1   art1    art1    art2  "
    "art3   art1   art1    art1    art4  "
    "art3   art1   art1    art1    art4  "
    "art5   art6   art6    art7    art7  "
    "art8   art8   art8    art9    art9  "
    "art8   art8   art8    art9    art9  ";
} */


.articlesContainer {
  width: 92%;
  display: grid;
  grid-template-columns: repeat(5, (300px, 1fr));
  grid-template-rows: repeat(3, (225px, 1fr));
  gap: 40px;
  grid-template-areas:
    "art0   art1   art1    art1    art2  "
    "art3   art3   art4    art4    art5  "
    "art6   art7   art8    art8    art9  ";
}

/* .articlesContainer {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
} */