@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
    /* flex: 1 1 calc(33.33% - 40px);
    min-width: 100px; 
    max-width: calc(33.33% - 40px);
    margin-bottom: 40px; 
    min-height: 300px; 
    max-width: calc(33.33% - 40px); */
}

.art0 { grid-area: art0; }
.art1 { grid-area: art1; }
.art2 { grid-area: art2; }
.art3 { grid-area: art3; }
.art4 { grid-area: art4; }
.art5 { grid-area: art5; }
.art6 { grid-area: art6; }
.art7 { grid-area: art7; }
.art8 { grid-area: art8; }
.art9 { grid-area: art9; }

/* .contentDiv {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.imgDiv img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  /* width: 518px;
  height: 300px; */
}

.dateDiv {
  display: flex;
  justify-content: space-between;
  margin: 7px 20px;
}

.date {
  color: gray;
  margin-left: 10px;
}

.categoryDiv {
  display: flex;
  justify-content: space-between;
}

.category {
  padding: 2px 5px;
  border-radius: 10px;
  margin: 0 5px;
}

.title {
  color: black;
  font-size: 24px;
  margin: 10px 20px;
  font-weight: 600;
}

.description {
  color: #9A9A9A;
  font-size: 18px;
  margin: 10px 20px;
}

.buttonDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  display: block;
  width: 200px;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 15px 20px 30px 20px;
}