




.footer {
    background-color: #000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 1493px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border-style: solid;
    border-color: #4e4949;
    border-radius: 20px;  
}

.footer h3 {
    text-align: left;
    font-size:32px;
    color: #fff ;
    
}

.footer input{
    border: solid red;
    border-style: inset;
    border-radius: 8px;
}

.footer button{
    border:solid red;
    border-radius: 7px;
    background-color: blue;
     
}


.info{
  
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
   
}

.reg h1{
     font-weight: lighter;
     color:#fff;
     font-family: sans-serif;
     font-style: oblique;
     text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: -550%;
     
}

      








.info h2 {
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    font-size: smaller;
    margin-bottom: -200px;
    padding-right: -650px;
    font-style: oblique;
    align-items: flex-end ;
    
    

}





.text-center {
    background-color:#fff ;
}


.plan{
    
}

