.modalContainer {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}

.modalContainer.active {
  opacity: 1;
  pointer-events: auto;
}

.modalContent {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  width: 50%;
  transform: scale(0.9);
  transition: transform 400ms;
}

.modalContent.active {
  transform: scale(1);
  position: absolute;
  z-index: 10;
}