@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Work+Sans:wght@300&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  width: 100%;
  font-size: 26px;
  color: white;
  background-color: black;
  border-radius: 0 0 35px 35px;
  font-family: 'Abril Fatface', serif;
  position: sticky;
  top: 0;
  z-index: 100; 
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul {
  list-style: none;
  padding: 0;
  margin-right: 40px;
  display: flex;
}

.li {
  margin-right: 40px;
  display: flex;
  align-items: baseline;
}

.a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  font-size: 30px;
}

.activeLink {
  text-decoration: underline;
}

.h1 {
  margin: 10px 10px 10px 60px;
  font-family: 'Abril Fatface', serif;
  font-size: 70px;
}

.Icon{
  display: none;
}
.menu {
  display: none;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width: 925px) {
  .navbar {
    padding: 25px 0px;
  }

  .li {
    display: none;
  }

  .Icon {
    display: inline;
    position: relative;
    left: 35%;
    color: white;
    font-size: 25px;
    cursor: pointer;
  }

  .menu {
    display: block;
  }

  .menu ul {
    list-style-type: none;
  }
}
