.formContainer p {
  text-align: center;
  font-size: 22px;
}

.paymentForm {
  max-width: 400px;
  margin: 20px auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.dateCVV {
  display: flex;
  justify-content: space-between;
  margin-top: 0 10px;
}

.dateCVV div {
  width: 45%;
}

.paymentForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.paymentForm label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.paymentForm button {
  width: 55%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

.buttonVisa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  z-index: 1;
  width: 50px;
}

